*{
    box-sizing: border-box;
    
}
.container{
    display: flex;
}
.nav{
    width: 250px;
    height: 700px;
    border: 1px solid black;
    background-color:orange
}
.header, .footer{
    width: 80vw;
    height: 150px;
    border: 1px solid black;
    background-color:aqua
}
.main{
    display: flex;
}
.artikel{
    width: 70%;
    height: 400px;
    border: 1px solid black;
}
.aside{
    width: 30%;
    height: 400px;
    border: 1px solid black;
    background-color:greenyellow
}